<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 
      
<h:head>
    <title> JSF Response Page</title>
</h:head> 

<body> 
Hello my name is: #{user.firstName} #{user.lastName}
<br/>

    <h:form>
        <h:button value="Try Again" outcome="TestForm.xhtml" />
    </h:form>
</body> 

</html>